<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_summary">Краткое описание</label>
        {{ form.summary }}
    </div>
    <div class="form-group">
        <label for="id_description">Полное описание</label>
        {{ form.description }}
    </div>
    <div class="form-group">
        <label for="id_status">Статус</label>
        {{ form.status }}
    </div>
    <div class="form-group">
        <label for="id_type">Тип</label>
        {{ form.type }}
    </div>
    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
</form>
